<div class="container-fluid">
    <h1>Edit {{ snack.name }}</h1>
    <a href="/snacks/" class="all-snacks">Return to All Snacks</a>
    <br><br>
    {{#if error}}
    <div class="alert alert-danger">
      {{ error }}
    </div>
    {{/if}}
    <form method="POST" action="/snacks/{{ snack.id }}?_method=PUT" class="well">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="title">Snack Name</label>
                    <input id="name" name="name" type="text" class="form-control" value="{{ snack.name }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="item">Review</label>
                    <input id="review_description" name="review_description" type="text" class="form-control" value="{{ snack.review_description }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="item">Rating</label>
                    <input id="rating" name="rating" type="text" min="0" max="5" class="form-control" value="{{ snack.rating }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="image">Snack Image URL</label>
                    <input id="image_url" name="image_url" type="text" class="form-control" value="{{ snack.image_url }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
